# Virtual environment
venv/
.env/
*.env

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# OS files
.DS_Store

# Images (if you want to exclude)

# Logs
*.log

# Build artifacts
dist/
build/
*.egg-info/

# folders
PythonAnywhere/